body{
    text-align: center;
    background-color: #aaa;
}

.green{
    background-color: #0F9D58;
}

.red{
    background-color: #DB4437;
}

.yellow{
    background-color: #F4B400;
}

.blue{
    background-color: #4285F4;
}

table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}