:root{
    --pink-500: rgb(251, 111, 146);
    --pink-400: rgb(255, 143, 171);
    --pink-300: rgb(255, 179, 198);
    --pink-200: rgb(255, 194, 209);
    --pink-100: rgb(255, 229, 236);
    --pink-white: rgb(255, 245, 248);

    --blue-500: rgb(111, 226, 251);
    --blue-400: rgb(143, 234, 255);
    --blue-300: rgb(179, 241, 255);
    --blue-200: rgb(194, 244, 255);
    --blue-100: rgb(229, 250, 255);
    --blue-white: rgb(245, 253, 255);

    --eigengrau: rgb(22, 22, 29);

}

.blu{
    background-color: var(--blue-100);
} 

.blu .loader {
    border: 16px solid var(--blue-300);
    border-top: 16px solid var(--blue-500);
    border-bottom: 16px solid var(--blue-500);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 0.8s ease-in-out infinite;
    margin: auto;    
    margin-top: 20vh;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.blu .title-container{
    text-align: center;
}

.blu .title-container > h1{
    margin-top: 15vh;
    color: var(--blue-500);
    font-size: 3em;
    font-weight: bolder;
}
