body{
    background-color: rgb(201, 160, 179);
}
#author{
    background-image: linear-gradient(red, purple, blue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.article_container{
    margin: 5vw;
}

.imag{
    display: block;
    margin: auto;
    margin-top: 10vh;
    border: 8px solid black;
}